<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp_1">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".trips"
            android:exported="false" />
        <activity
            android:name=".home2"
            android:exported="false" />

        <activity
            android:name=".Menu"
            android:exported="false" />

        <activity
            android:name=".begin_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login_page_activity" />
        <activity android:name=".pw_reset_activity" />
        <activity android:name=".sign_in_activity" />
        <activity android:name=".getinh_started_2_activity" />
        <activity android:name=".notifications_activity" />
        <activity android:name=".schedule_activity" />
        <activity android:name=".getinh_started_activity" />
    </application>

</manifest>